gunicorn==23.0.0
setuptools==78.1.1
simplejson==3.19.3
setuptools-rust==1.11.0
medcat[meta-cat,spacy,deid]~=v2.7.0
# pinned because of issues with de-id models and past models (it will not do any de-id)
transformers>=4.34.0,<5.0.0
requests==2.32.4
fastapi[standard]==0.128.0
pydantic>=2.11.10,<2.12.5
pydantic-settings==2.10.1
gradio[mcp]==6.5.1
prometheus-fastapi-instrumentator==7.1.0
opentelemetry-distro[otlp]==0.60b0
opentelemetry-instrumentation==0.60b0
opentelemetry-resource-detector-containerid==0.60b0
opentelemetry-instrumentation-fastapi==0.60b0
opentelemetry-instrumentation-requests==0.60b0
opentelemetry-instrumentation-threading==0.60b0
opentelemetry-instrumentation-httpx==0.60b0